.count-container {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border: solid 0.1rem #ccc;
    border-radius: 2%;
    width: 60%;
    margin: 1rem auto;
}

.count {
    background-color: #fff;
}
