.container-item-detail {
    display: flex;
    width: 80%;
    margin: 5% auto;
}

@media only screen and (max-width: 800px) {
    .container-item-detail {
        flex-direction: column;
        align-items: center;
    }
}

.img-detail-container {
    width: 50%;
}

.img-detail-container p {
    color: #acacac;
}

.img-detail {
    text-align: center;
}

.data-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.data-title-detail-container {
    display: flex;
    justify-content: space-between;
}

.data-title-detail-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.data-title-detail-container p {
    font-size: 1rem;
    color: #acacac;
}

.data-price-detail p:first-child {
    font-size: 1.5rem;
}

.data-price-detail p:last-child {
    font-size: 1rem;
    color: #acacac;
}

.data-detail-item-count {
    width: 60%;
    border-top: solid 0.1rem #ccc;
}

.finish-purchase-container {
    text-align: center;
    margin-top: 5%;
}

.link-finish-purchase {
    text-decoration: none;
    color: #fff;
}