.card-item {
    border: solid 0.1rem #ccc;
    padding: 0;
    height: 491px;
    box-shadow: 0.5rem 0.5rem 0.5rem #ccc;
}

.button-detail-view {
    text-decoration: none;
    color: rgb(57, 126, 206);
}

.card-body {
    text-align: center;
    padding: 5% 0 2% 0;
}

.card-body img {
    height: 250px;
}

.card-footer {
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding-bottom: 5%;
    height: 150px;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5%; 
}

