.cart-widget-container {
    display: flex;
    align-items: center;
}

.cart-icon {
    color: #fff;
    margin-top: 50%;
}

.cart-quantity {
    color: #fff;
    background-color: black;
    border-radius: 1rem;
    padding: 0% 14%;
    font-size: 0.75rem;
    position: relative;
    top: -5px;
    right: 10px;
}

.container-items-cart-widget {
    width: 400px;
}

.cart-widget-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.button-widget {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.btn-cart-widget {
    color: #fff;
    text-decoration: none;
}

.cart-widget-card .item-widget-container:first-child {
    border-top: solid 0.1rem #ccc;
}

.item-widget-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.1rem #ccc;
}


.item-widget-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100px;
    margin: 0 1rem;
}

.item-widget-image img {
    width: 100%;
    max-height: 100px;
}

.item-widget-remove {
    margin: 0 2%;
}

.item-widget-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-widget-data p {
    font-size: 1rem;
    font-weight: bold;
}

.item-widget-sub-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item-widget-sub-data p {
    font-size: 1rem;
    margin: 0 0.5rem;
}

.cart-widget-total-price {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10%;
}

.btn-continue-shopping {
    display: flex;
    justify-content: center;
}