.cart-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.cart-empty p{
    text-align: center;
    border-top: solid 0.1rem #ccc;
    border-bottom: solid 0.1rem #ccc;
    padding: 1rem;
    font-size: 1rem;
}

.cart-content {
    margin-top: 5%;
}

.cart-accions-button-container {
    margin: 5% auto 0% auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.total-cart-price {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2%;
}

.continue-shopping-button-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.continue-shopping-link {
    color: #fff;
    text-decoration: none;
}